@import '../../styles/variables.css';


.nav {
  background-color: var(--pink-color);
  padding: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: flex-end; /* Align items to the bottom */
  height: 80px; /* Optional: Set a height for the NavBar */
}

.nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  width: 100%; /* Ensure the ul spans the full width */
}

.nav li {
  margin: 0;
}

.nav text { 
  color: var(--brown-color);
  text-decoration: none;
  font-size: 1.5rem;
  padding-bottom: 0.5rem; /* Add padding to move text closer to the bottom */
}

.nav a:hover {
  text-decoration: underline;
}
