.projectsContainer {
    padding: 2rem;
    height: 90vh; 
    background-color: var(--brown-color); /* Background color for the projects section */
    color: var(--pink-color); /* Text color for the section */
    font-family: var(--font-family-primary); /* Font family for consistency */
  }
  
  .title {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2.5rem;
    color: var(--primary-color); /* Ensures the title uses the primary color */
  }
  
  .projectList {
    display: flex;
    flex-direction: row;
    gap: 2rem; /* Space between project items */
  }
  
  .projectItem {
    background-color: var(--white-color); /* White background for each project */
    padding: 1.5rem;
    border: 1px solid white; /* Adds a subtle shadow */
    border-radius: 8px;
    height: 50vh; 
    width: 30vw;
  }
  
  .projectItem a {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: var(--primary-color);
    text-align: center;
    display:flex;
  }
  
  .projectItem p {
    font-size: 1.2rem;
    color: var(--text-color);
  }
  