:root {
    --brown-color: #302525;
    --pink-color: #B1869B;
    --font-size-large: 1.5rem;
    --font-size-small: 1rem;
    --padding-large: 1rem;
    --padding-small: 0.5rem;
    --font-family-primary: 'Jacques Francois', serif;
  }
  